name: CI

on: [push]

jobs:
  test:
    name: Tests
    runs-on: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js 12.13.1
      uses: actions/setup-node@v1
      with:
        node-version: 12.13.1
    - name: Update
      run: sudo apt-get update
    - name: Add ffmpeg
      run: sudo apt-get install ffmpeg -y
    - name: Install node dependances
      run: yarn install
    - name: Lint
      run: yarn lint
    - name: Test
      run: yarn test:e2e

  build:
    name: Build and publish
    runs-on: [ubuntu-latest]
    needs: [test]
    steps:
    - name: Chekout
      uses: actions/checkout@v1
    - name: Build and Publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@v5
      with:
        name: aifedespaix/ffmpeg-http-server
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
